@import url(https://fonts.googleapis.com/css?family=Raleway:300);

@import url(https://fonts.googleapis.com/css?family=Oswald:300);
nav {
    height: 130px;
    margin-bottom: 15px;
    text-align: center;
    background-image: url("../images/backgroundNew.png");
    background-size: 100%;
    border-bottom: #E05151 5px solid;
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index: 1000;
    overflow: hidden;

}

nav a{
    float:left;
}
nav a img{
    position: absolute;
    top: 5px;
    left: 15px;
}
nav ul {
    list-style: none;
    padding:0;
    float: none;
    margin-left: 155px;
}
nav ul li {
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    font-size:35px;
    font-family: 'Oswald', sans-serif;
    margin-top: 60px;
    text-shadow:
            -2px -2px 0 #fff,
            2px -2px 0 #fff,
            -2px 2px 0 #fff,
            2px 2px 0 #fff;

    position:relative;

}
nav ul li:last-of-type{
    float: right;
}
nav ul li a {
    color: black;
    text-decoration: none;
    transition: all .5s;
}


nav ul li a:hover {
    color: #E05151;
    transition: all .5s;
    border-bottom: 2px solid #E05151;
}
nav ul li a:active {
    /*color: ;*/
    border-bottom: 8px solid #E05151;
}
nav ul a{
    float:left;
}
nav ul li ul {
    display: none;
    opacity:0;
}
nav ul li:hover ul {
    display: block;
    opacity:1;
    position: absolute;
    background: #229;
    transition: all .5s;
}
nav ul li:hover ul li {
    display: block;
    margin-top: -80px;
    margin-left: -14px;
    padding-bottom: 10px;
    border: 13px solid #333;
    background: #333 !important;
}
nav ul li:hover ul li a{
    display: inline-block;
}
#ip {
    width: 300px;
    margin-top: 12px;
    margin-left: 20px;
    color: white;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
#ip:hover {
    color: #E05151;
    background: white;
    transition: all 1s;
}
#ip2 {
    color: white;
    font-family: 'Raleway', sans-serif;
    margin-top: -19.5px;
    width: 160px
}
h1 {
    position: relative;
    z-index: 20000;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: black;
    font-weight: bold;
    font-size: 50px;
    margin: 0; !important;
    text-shadow:
            -2px -2px 0 #fff,
            2px -2px 0 #fff,
            -2px 2px 0 #fff,
            2px 2px 0 #fff;
}
*{
    font-weight:700
}
.button {
    width: 80px;
    border: 2px solid #E05151;
    border-radius: 5px;
    color: #E05151;
}
.button:hover {
    background: #E05151;
    color: #333;
    border: 2px solid #E05151;
    border-radius: 5px;
    transition: .5s;
}
.button2 {
    width: 120px;
    border: 2px solid #E05151;
    border-radius: 5px;
    color: #E05151;
}
.button2:hover {
    background: #E05151;
    color: #333;
    border: 2px solid #E05151;
    border-radius: 5px;
    transition: .5s;
}

div .margin{
    margin-bottom: 5px;
}

.extraPlace{
    margin: 20px 0 20px 0;
}

.alignLeftContent{
    text-align: left;
}

footer{
    background-color: #343434;
    position: absolute;
    left:0;
    z-index: -1;
    min-width:100%;
    max-width:100%;
    height: 100px;

}
footer div{
    color: #a56000;
    font-size: 50px;
    text-align: center;
    width: 100%;
    background-size: 100%;
}
footer div h2{
    font-size: 40px;
}
footer h4{
    color: #a56000;
    float:left;
    font-size: 15px;
}

.main_info {
    margin-top: 100px;
}


.best_beers {
    background-color: #eee;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #000;
    margin-top: 25px;
}


.best_beers p {
    font-size: 10px;
    text-align: center;
    margin-top: -10px;
    background-color: #eee;
}

.best_beers div {
    display: inline-block;
}

.last_sold {
    background-color: #eee;
    text-align: center;
    border-radius: 25px;
    border: 2px solid #000;
    margin-top: 25px;
}


.last_sold p {
    font-size: 10px;
    text-align: center;
    margin-top: -10px;
    background-color: #eee;
}

.last_sold div {
    display: inline-block;
}

.main_info p {
    text-align: justify;
}

.beers {
    display: inline-block;
    margin-top: -15px;
}

/*css for required field*/
.marginForForm{
    margin-top: 100px;
}
div div .margin{
    margin-top: 5px;
}

.text_shadow{
    color: #E05151;
    transition: all .5s;
    border-bottom: 2px solid #E05151;

}

.simple-linear {
    background-image: url("../images/heart.png");
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    margin-left: 13px;
    margin-top: 10px;
}


input #avatar{
    width: 50px;
}